body {
    background-color: #111;
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 10px 10px;
    padding: 75px;
    margin: 25px;
    color: aliceblue;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #333;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cell:hover {
    background-color: #444;
}

.cell.x::before {
    content: "X";
    color: #f00;
}

.cell.o::before {
    content: "O";
    color: #f00;
}

#gameContainer {
    font-family: "Pernament Marker", cursive;
    text-align: center;
    background-color: #1c1c1c;
    color: #fff;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn {
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#restartBtn:hover {
    background-color: #fff;
    color: #f00;
    box-shadow: 0 0 0 2px #f00;
}

@media only screen and (max-width: 600px) {

    article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 1rem;
    }

    article>*:not(:first-child) {
        margin-top: 0;
    }

    #cellContainer {
        grid-template-columns: repeat(2, auto);
        width: 150px;
    }

    .cell {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
    }

}